html {
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    /* margin-inline: auto; */
    margin-inline: max(1em, (100% - 100ch) / 2);
    /* padding-left: 2ch; */
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 0.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

ul {
  display: contents;
}

li {
  display: contents;
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0em;
  font-weight: bold;
}

a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
  padding: 0.5em;
}

input, textarea, button {
  font-family: inherit;
  font-size: 80%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

.projects h2 {
  margin: 0;
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

#cv article, #resume article {
  border-bottom: 1px solid oklch(50% 10% 200 / 40%);
}

.contact-header {
  text-align: center;
}

#resume article time {
  float: right;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

#profile-stats dt {
  grid-row: 1;
  text-align: center;
  justify-items: center;
}

#profile-stats dd {
  grid-row: 2;
  font-size: 2rem;
  text-align: center;
  justify-items: center;
}

.projects img {
  width: 100%;         /* Make the images fill their container */
  height: 200px;       /* Set a fixed height for the images */
  object-fit: cover;   /* Ensure the image covers the area without distortion */
  border-radius: 8px;  /* Optional: Add rounded corners to the images */
}